

<div class="position-relative">
    <div class="chat-messages p-4">

      

      <!-- Lista de mensagens -->

<div  *ngFor="let m of mensagens">


    <!-- Verificar se a mensagem é do remetente -->
    <div class="chat-message-left pb-4" *ngIf="m.id_rementente == m.cliente_id">
      <div>
          
          <div class="text-muted small text-nowrap mt-2">{{m.tempo_envio | date: 'HH:mm '}}</div>
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
          <!-- <div class="font-weight-bold mb-1">{{m.nome}}</div> -->
          {{m.texto}}
        </div>
    </div>




    <!-- Mensagem enviada pelo atendente -->
    <div class="chat-message-right pb-4"  *ngIf="m.id_rementente != m.cliente_id" >
      <div>
        
        <div class="text-muted small text-nowrap mt-2">{{m.tempo_envio}}</div>
      </div>
      <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
        <div class="font-weight-bold mb-1">Você</div>
        {{m.texto}}
      </div>
      
    </div>


</div>
















    </div>
  </div>